.card__container{
  position: relative;
  border: 3px solid #3E4357;
  border-radius: 10px;
  width: 350;
  height: 500;
  display: flex;
  overflow: hidden;
  margin-top: 10px;
}

.card__imagem{
  min-width: 100%;
  min-height: 100%;
  transition: transform .9s;
}

.card__imagem:hover{
  transform: scale(1.1);

}
