<div class="home__container">
  <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="Exclusive"
    gameType="DIGITAL PS4"
    gamePrice="499,90">
  </app-card>
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="Exclusive"
    gameType="DIGITAL PS4"
    gamePrice="189,90">
  </app-card>
  <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="Lançamento"
    gameType="DIGITAL PS4"
    gamePrice="349,90">
  </app-card>
  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="Assinante"
    gameType="XPTO PS4"
    gamePrice="299,90">
  </app-card>
</div>
